.nav-item{
    margin-left: 50px;
}

.logo {
    margin:0;
    padding: 0;
    width: 1rem;
    height: 3rem;

    transition: 0.2s;
}

a:hover .logo {
    stroke: #FF5733;
    stroke-width: 5px;
    stroke-dashoffset: 0;
}


li {
    color:white;
}